<!doctype html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <body class="w3-blue-gray">
        <div class="w3-bar w3-teal">
            <a href="https://koralden.com" class="w3-bar-item w3-hover-green">Koralden</a>
            <a href="/about" class="w3-bar-item w3-hover-green w3-right">About</a>
            <a href="/terms" class="w3-bar-item w3-hover-green w3-right">Terms</a>
            <a href="/privacy" class="w3-bar-item w3-hover-green w3-right">Privacy</a>
        </div>
        <div class="w3-row">
            <div class="w3-third w3-auto w3-margin-top w3-xlarge w3-black">
                <a href="/setup/easy" class="w3-button w3-block w3-left-align"><i class="fa fa-network-wired"></i> Network</a>
                <a href="/pairing" class="w3-button w3-block w3-left-align"><i class="fa fa-user-gear"></i> Pairing</a>
                <a href="/por/wifi" class="w3-button w3-block w3-left-align"><i class="fa fa-wifi"></i> PoR</a>
                <a href="/logout" class="w3-button w3-block w3-left-align"><i class="fa fa-person-running"></i> Logout</a>
            </div>
            <div class="easy-setup w3-rest w3-container">
                <div class="w3-container w3-card w3-indigo w3-margin-top">
                    <h2>Network</h2>
                </div>
                <form id="myForm" action="/setup/easy" method="post"
                    class="w3-container w3-card w3-dark-gray">
                    <div id="wan_type" class="w3-panel w3-border w3-margin-top">
                        <div id="wan_type" class="w3-panel w3-green">
                            <h3 class="w3-left">WAN</h3>
                        </div>
                        <div id="wan_type" class="w3-container w3-margin w3-center">
                            <input id="wan_type_dhcp" class="w3-radio" type="radio" name="wan_type" value=0>
                            <label>DHCP</label>
                            <input id="wan_type_pppoe" class="w3-radio" type="radio" name="wan_type" value=1>
                            <label>PPPoE</label>
                        </div>
                        <div id="wan_pppoe" class="wan_pppoe w3-panel">
                            <h4 class="w3-left">WAN/PPPoE</h4>
                            <input id="wan_username" name="wan_username" class="w3-input w3-margin-top w3-center" placeholder="Username" type="text">
                            <input id="wan_password" name="wan_password" class="w3-input w3-margin-top w3-center" placeholder="Password" type="password">
                        </div>
                    </div>
                    <div id="wifi_private" class="wifi_private w3-panel w3-border w3-margin-top">
                        <div id="wan_type" class="w3-panel w3-green">
                            <h3 class="w3-left">WIFI/Private</h3>
                        </div>
                        <div id="wan_type" class="w3-container w3-margin-top">
                            <input id="wifi_ssid" name="wifi_ssid" class="w3-input w3-center" placeholder="SSID" type="text">
                        </div>
                        <div id="wan_type" class="w3-container w3-margin-top">
                            <input id="wifi_password" name="wifi_password" class="w3-input w3-center" placeholder="Password" type="password">
                        </div>                                                                                                                                                                                                                                          <div class="w3-container w3-left w3-margin-top">                                                                                                                                                                                                    <input id="password_overwrite" name="password_overwrite" class="w3-check" type="checkbox" checked="checked">                                                                                                                                    <label class="w3-tooltip">Overwrite system password<span class="w3-text">(<em>as same as WIFI/private password</em>)</span></label></p>
                        </div>
                    </div>
                    <div class="user-submit w3-margin-top">                                                                                                                                                                                                <button class="user-submit w3-button w3-section w3-block w3-blue w3-ripple w3-padding" id="submit">Submit</button>                                                                                                                            </div>
                </form>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <script>
            var getJson = {{ getJson }};
            $(document).ready(function () {
                            if (getJson["wan_type"] == 0) {
                                            $("#wan_type_dhcp").prop('checked', true);
                                            $("#wan_pppoe").hide();
                                        } else {
                                                        $("#wan_type_pppoe").prop('checked', true);
                                                        $("#wan_pppoe").show();
                                                    }
                            $("#wan_username").val(getJson["wan_username"]);
                            $("#wan_password").val(getJson["wan_password"]);
                            $("#wifi_ssid").val(getJson["wifi_ssid"]);
                            $("#wifi_password").val(getJson["wifi_password"]);
                            $("#password_overwrite").prop('checked',
                                            (getJson["password_overwrite"] == "on") ? true : false);
                            $("#wan_type_pppoe").click(function() {
                                            $("#wan_pppoe").show();
                                        })
                            $("#wan_type_dhcp").click(function() {
                                            $("#wan_pppoe").hide();
                                        })
                            const myForm = $("#myForm");
                            $(".easy-setup .user-submit").click(function() {
                                            myForm.submit();
                                        })
                        });
        </script>
    </body>
</html>
