<!DOCTYPE html>
<html>
    <title>Forwarding Authentication Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/w3.css">
    <body class="w3-blue-gray">
        <div class="w3-bar w3-teal">
            <a href="https://koralden.com" class="w3-bar-item w3-hover-green">Koralden</a>
            <a href="/about" class="w3-bar-item w3-hover-green w3-right">About</a>
            <a href="/terms" class="w3-bar-item w3-hover-green w3-right">Terms</a>
            <a href="/privacy" class="w3-bar-item w3-hover-green w3-right">Privacy</a>
        </div>
        <div class="w3-container">
            <div class="w3-container w3-card w3-indigo w3-margin-top">
                <h1>Koralden K-AP</h1>
            </div>
            <form action="http://192.168.178.1:2050/opennds_auth/" method="GET" class="w3-container w3-card-4 w3-dark-gray">
                <input id="tok" name="tok" value="none" type="hidden">
                <input id="redir" name="redir" value="none" type="hidden">
                <input id="custom" name="custom" value="none" type="hidden">

                <div class="w3-container w3-pink">
                    <h2>Welcome</h2>
                </div>
                <div class="w3-left-align">
                    <h3>
                    我們是一群相信技術創造新商業的互聯網原住民，
                    並且相信未來是去中心化與開放的。
                    </h3>
                </div>
                <div class="w3-container w3-margin-top">
                    <p>假如你認同我們的理念，請按底下按鈕</p>
                </div>
                <div class="user-submit w3-container w3-margin-top">
                    <button id="submit" class="w3-button w3-section w3-blue w3-ripple w3-padding w3-block">Accept</button>
                </div>
            </form>
        </div>

        <script src="/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <script>
            var jsonDb = {{ params }};

            $(document).ready(function () {
                $("#tok").val(jsonDb["tok"]);
                $("#redir").val(jsonDb["redir"]);
                $("#custom").val(jsonDb["custom"]);
            });
        </script>
    </body>
</html>
