<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/Product">
    <title>QR Code - OTP Pairing</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <body class="w3-blue-gray">
        <div class="w3-bar w3-teal">
            <a href="https://koralden.com" class="w3-bar-item w3-hover-green">Koralden</a>
            <a href="/about" class="w3-bar-item w3-hover-green w3-right">About</a>
            <a href="/terms" class="w3-bar-item w3-hover-green w3-right">Terms</a>
            <a href="/privacy" class="w3-bar-item w3-hover-green w3-right">Privacy</a>
        </div>
        <div class="w3-row">
            <div class="w3-third w3-auto w3-margin-top w3-xlarge w3-black w3-hide-small w3-show-large w3-show-medium">
                <a href="/setup/easy" class="w3-button w3-block w3-left-align"><i class="fa fa-network-wired"></i> Network</a>
                <a href="/pairing" class="w3-button w3-block w3-left-align"><i class="fa fa-user-gear"></i> Pairing</a>
                <a href="/por/wifi" class="w3-button w3-block w3-left-align"><i class="fa fa-wifi"></i> PoR</a>
                <a href="/logout" class="w3-button w3-block w3-left-align"><i class="fa fa-person-running"></i> Logout</a>
            </div>
            <div class="w3-third w3-auto w3-margin-top w3-xxxlarge w3-black w3-show-small w3-hide-large w3-hide-medium w3-center">
                <a href="/setup/easy" class="w3-button"><i class="fa fa-network-wired"></i></a>
                <a href="/pairing" class="w3-button"><i class="fa fa-user-gear"></i></a>
                <a href="/por/wifi" class="w3-button"><i class="fa fa-wifi"></i></a>
                <a href="/logout" class="w3-button"><i class="fa fa-person-running"></i></a>
            </div>
            <div class="w3-rest w3-container">
                <div class="w3-container w3-card w3-indigo w3-margin-top">
                    <h2>Device Pairing</h2>
                </div>
                <div id="warning" class="w3-panel w3-green w3-display-container" style="display:none">
                    <span onclick="this.parentElement.style.display='none'"
                        class="w3-button w3-display-topright">X</span>
                    <p>This device has been paired with {{ ownerId }}.</p>
                    <p>If have any problem, please contact the platform administrator.</p>
                </div>
                <form id="pairing" class="w3-container w3-card-4 w3-dark-gray w3-center">
                    <div class="w3-center w3-margin" id="browserOnly">
                        <div id="qr" class="w3-center">{{ content }}</div>
                        <div class="w3-panel w3-pink">
                            <h3 id="gwId">{{ routerId }} </h3>
                        </div>
                        <div class="w3-panel w3-orange">
                            <h3 id="otpRaw">{{ otp }} </h3>
                        </div>
                    </div>
                    <div class="w3-panel" id="kappOnly">
                        <button class="w3-button w3-section w3-block w3-blue w3-ripple w3-padding" id="submit">Pair It</button>
                    </div>
                </form>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
                ></script>
        <script>
            var getJson = {{ getJson }};
            /*function openSidebar() {
                            document.getElementById("mySidebar").style.display = "block";
                        }
            function closeSidebar() {
                            document.getElementById("mySidebar").style.display = "none";
                        }*/
                $(document).ready(function () {
                                /*closeSidebar*/
                                    if (getJson["paired"] == true) {
                                                    $("#pairing").hide();
                                                    $("#warning").show();
                                                }
                                $('#submit').on('click', function (event) {
                                                event.preventDefault();
                                                AppFunction.device_otp($('#gwId').text(), $('#otpRaw').text());
                                            });
                                $('#kappOnly').hide();
                                if (typeof AppFunction.check_is_app === 'function') {
                                                if (AppFunction.check_is_app() === 1) {
                                                                $('#browserOnly').hide();
                                                                $('#kappOnly').show();
                                                            }
                                            }
                                if ($('#qr').html() !== '') {
                                                $('#qrcontrols').show();
                                            }
                            });
        </script>
    </body>
</html>
